
[xhttpcache]
redis_ip=0.0.0.0
redis_port=7379
redis_pass=admin
log_filename=xhttpcache.log
log_filesize=1073741824  #1024*1024*1024
log_level=DEBUG
daemonize=0
guard=0
debug=0

[xhttpd_frontend]
ip=0.0.0.0
port=8080
threads=4
timeout=3
gzip=1
etag=0
etag_cache_count=8
etag_cache_size=10000
pemfile=
privfile=
ssl_timeout=5
default_index=/|/index.htm|/index.html|/default.htm


[xhttpd_backend]
ip=0.0.0.0
port=9090
threads=2
timeout=3
username=admin
password=admin123
pemfile=
privfile=
ssl_timeout=5
max_upload_file_size=200

[rocksdb]
db_base_dir=./testdb
create_if_missing=1
max_open_files=10240
max_file_opening_threads=2
max_total_wal_size=
db_log_dir=./xdb_log
write_buffer_size=32
compression=1

